.main_container {
  background-color: rgba(0, 0, 255, 0.707);
  padding: 0.5rem;
  color: rgba(245, 245, 245, 0.699);
}

h1 {
  text-align: center;
  margin-top: 1rem;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;

  div {
    margin: 1rem;
    display: flex;
    align-items: center;
    svg {
      padding-right: 0.5rem;
    }
    a:link {
      color: whitesmoke;
      margin: 1rem;
      text-decoration: none;
    }
    a:visited {
      color: burlywood;
    }
    a:hover,
    a:active {
      color: burlywood;
      text-decoration: underline;
    }
  }
}
