<div class="project_container">
  <h2>My projects</h2>
  <div class="part">
    <h3>Frontend</h3>
    <div class="project">
      <div class="proj">
        <h4>Expense Tracker</h4>
        <div class="my-video">
          <video height="240" width="400" controls src="/expense.mov">
            Your browser does not support the video
          </video>
        </div>
        <p>
          The Expense Tracker is a web application built with Angular that
          allows users to manage their budgets and track their expenses. Users
          can register, log in, add budgets, and track expenses effortlessly.
          This application utilizes Firebase for authentication and Firestore
          for data storage.
        </p>

        <p class="view">
          <b>Check my work:</b>
          <a href="https://expensetracker-7dec0.firebaseapp.com"
            >Expense Tracker</a
          >
        </p>
      </div>
      <div class="proj">
        <h4>Todo App</h4>

        <div class="my-video">
          <video height="240" width="400" controls src="/todo.mov">
            Your browser does not support the video
          </video>
        </div>

        <p>
          User-friendly task management application to help users effectively
          organize and prioritize their daily tasks.Built with Angular for a
          responsive and dynamic interface that adapts seamlessly to any screen
          size.Integrated local storage to provide users with the convenience of
          persistent task data, ensuring their progress is always
          saved.Optimized for speed and performance, delivering a fast and
          enjoyable user experience."
        </p>

        <p class="view">
          <b>Check my work:</b>
          <a href="https://todoappwithlocal-storage.vercel.app">Todo App</a>
        </p>
      </div>
    </div>
  </div>
  <div class="part">
    <h3>Backend</h3>
    <div class="project">
      <div class="proj">
        <h4>E-commerce API</h4>

        <p>
          Scalable e-commerce API using Node.js, Express, and PostgreSQL to
          power online shopping experiences. Shops can manage their product
          inventory by adding, modifying, and removing items.Buyers can curate
          their shopping experience by adding, updating, deleting, and viewing
          products within their cart.Both buyers and shops can access a
          comprehensive view of all available products.Shops can oversee their
          specific product listings and track order histories.
        </p>
        <p class="view">
          <b>Check my work:</b
          ><a href="https://github.com/G-Gakii/ecommerce1-backend"
            >Ecommerce Api</a
          >
        </p>
      </div>
      <div class="proj">
        <h4>Blog API</h4>

        <p>
          Simple blog application with user authentication and authorization.
          Implemented CRUD operations for blog posts. Ensured secure access
          control, allowing only authorized users to update/delete their own
          posts and restricting blog viewing/creation to authenticated users.
        </p>
        <p class="view">
          <b>Check my work:</b>
          <a href="https://github.com/G-Gakii/Blog-app.git">Blog Api</a>
        </p>
      </div>
    </div>
  </div>
</div>
