<div>
  <div class="hero-container">
    <div class="part1">
      <h1>Hi</h1>
      <h2>
        I'm <span class="name">Gakii</span><br />
        a Full-stack Developer
      </h2>
      <p>
        A clinical medicine graduate transitioning into the tech industry. With
        a
        <br />
        strong foundation in problem-solving and analytical thinking, eager to
        <br />
        apply these skills to create innovative solutions. Currently building a
        <br />
        robust foundation in full-stack development. Driven to contribute to
        <br />
        innovative and impactful projects that improve lives.
      </p>
      <div class="skills">
        <h3>Skills</h3>
        <p>
          <b>Frontend:</b> CSS, TypeScript, Angular, Bootstrap, Tailwind CSS
        </p>
        <p><b> Backend:</b> Node.js, Express, PostgreSQL, MongoDB</p>
        <p><b>Soft Skills:</b> Problem-Solving, Collaboration, Communication</p>
      </div>
    </div>
    <div class="image">
      <img [ngSrc]="'profile.png'" alt="profile pic" width="300" height="300" />
    </div>
  </div>
</div>
